<div class="comment mdl-color-text--grey-700">
  <header class="comment__header">
    <%= image_tag 'user.png', class: "article-image", border: 0, alt: "article image" %>

    <div class="comment__author">
      <strong><%= comment.commenter %></strong>
      <span>2 days ago</span>
    </div>
  </header>
  <div class="comment__text">
    <%= comment.body %>
  </div>
  <div>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
	</div>
</div>