// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments {
	width: 97%!important;
	background-color: #eee;
}
.comments .comment > .comment__header > .comment__author {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.comments > form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 16px;
}
.comments > form .mdl-textfield {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 16px;
    color: rgb(97, 97, 97);
}

.comments > form .mdl-textfield textarea {
    resize: none;
}
.comments > form .mdl-textfield .mdl-textfield__input {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.comments > form button {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.24);
    color: white;
}

.comments .comment > .comment__header > .comment__avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 16px;
    border: 1px solid;
    background-color: #fff;
}
.comments .comment > .comment__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
}
.myform {
    width: 600px!important;
}